.btn-cyan-admin {
    background-color: #12b0cfff !important;
    border: none !important;
    box-shadow: 0 4px 6px rgba(18, 176, 207, 0.2);
}

.btn-cyan-admin:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(18, 176, 207, 0.4) !important;
    filter: brightness(1.1);
}

.btn-cyan-admin:active {
    transform: translateY(0);
}

.card:hover .rounded-circle {
    transform: scale(1.1) rotate(5deg);
    transition: all 0.3s ease;
}